<div class=<%= footer_class %>>
    <div class="container-full w-container">
        <div class="footer-top"><img
                src="5c167fe0dab576557777b79b_logo-white.png"
                alt="" class="footer-logo" />
            <div class="socila-box"><a href="#" class="social-button icon-facebook w-button"></a><a href="#"
                    class="social-button icon-twitter w-button"></a><a href="#"
                    class="social-button icon-instagram w-button"></a></div>
        </div>
        <div class="footer-middle">
            <div class="columns w-row">
                <div class="w-col w-col-7 w-col-medium-6">
                    <p class="footer-text">We are dedicated to delivering tailored business 
                    process outsourcing (BPO) solutions that help companies streamline their operations. Whether you're 
                    a small business or a large enterprise, our goal is to improve efficiency, reduce costs, and support your growth.</p>
                </div>
                <div class="w-clearfix w-col w-col-5 w-col-medium-6">
                    <div class="footer-address">
                        <h4 class="h4-heading-white">Contact Details</h4>
                        <p class="footer-text-2 icon-address">PO BOX 7053 Hicksville, NY 11802</p>
                        <p class="footer-text-2 icon-phone">+1 646 568 5308</p>
                        <p class="footer-text-2 icon-email">newyork@aabusiness.org</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-link-box"><a href="#" class="footer-link">Legal</a><a href="#"
                    class="footer-link">Privacy Policy</a><a href="#" class="footer-link">Terms</a><a href="#"
                    class="footer-link">Ticket System</a></div>
            <div class="copyright">Copyright © 2019 All American Business Solutions Inc. All rights reserved.</div>
        </div>
    </div>
</div>
