<div class="secion-about-banner">
    <div class="container-full">
        <div class="top-bar w-clearfix"><a data-w-id="4cc5554e-0492-ec08-63c6-7eb854f48cfb" href="#"
                class="topbar-btn w-button">Client Access</a><a href="#"
                class="topbar-btn w-hidden-small w-hidden-tiny w-button">Online Bill Payment</a><a href="#"
                class="topbar-btn special w-hidden-small w-hidden-tiny w-button">Schedule Meeting</a><a
                href="tel:+16465685308" class="phone">646 568 5308</a></div>
    </div>
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
        <div class="container-full w-container"><a href="#" class="brand-logo w-nav-brand"></a>
            <nav role="navigation" class="nav-menu w-nav-menu"><a href="/" class="navlink w-nav-link">Home</a><a
                    href="/about_us" class="navlink w-nav-link w--current">About</a><a href="/services"
                    class="navlink w-nav-link">Services</a><a href="/contact"
                    class="navlink w-nav-link">Contact</a><a href="/contact"
                    class="button-red marign-top w-button">Get a Free Quote</a></nav>
            <div class="menu-button w-nav-button">
                <div class="menu-icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="banner-text-box w-container">
        <h1 class="hi-banner">About Us</h1>
        <div class="banner-sub-text">Let our experts lead your vision</div>
    </div>
</div>
<div class="section-vision">
    <div class="container-full w-container">
        <div class="w-row">
            <div class="w-col w-col-6 w-col-stack">
                <div class="content-box">
                    <h2 class="h2-heading-left">The AABS Vision</h2>
                    <p class="paragraph">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                        dolore magnam aliquam quaerat volupt</p>
                </div>
            </div>
            <div class="w-col w-col-6 w-col-stack">
                <div class="content-box">
                    <h2 class="h2-heading-left">Today&#x27;s Mission, Tomorrow&#x27;s Goals</h2>
                    <p class="paragraph">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                        dolore </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-w-id="6ccc8540-e1b6-e17b-d5be-bd816183697f" style="opacity:0" class="office-img"></div>
<div class="section-stats">
    <div data-w-id="339a28ae-4328-f0f5-2ab0-ee076ec6e46b" style="opacity:0" class="container-full w-container">
        <div class="w-row">
            <div class="w-clearfix w-col w-col-4 w-col-stack">
                <div class="stats-item">
                    <div class="stats-info"><img
                            src="5c167fe0dab57656ff77b7b3_icon-9.svg"
                            alt="" class="stats-icon" />
                        <div class="stats-name">64 Kittens &amp; Doggies</div>
                    </div>
                    <p class="stats-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
            <div class="w-clearfix w-col w-col-4 w-col-stack">
                <div class="stats-item">
                    <div class="stats-info"><img
                            src="5c167fe0dab57656ff77b7b3_icon-9.svg"
                            alt="" class="stats-icon" />
                        <div class="stats-name">3 Billion Cupcakes</div>
                    </div>
                    <p class="stats-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
            <div class="w-clearfix w-col w-col-4 w-col-stack">
                <div class="stats-item">
                    <div class="stats-info"><img
                            src="5c167fe0dab57656ff77b7b3_icon-9.svg"
                            alt="" class="stats-icon" />
                        <div class="stats-name">2,000 Armed Soldiers</div>
                    </div>
                    <p class="stats-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-team w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny">
    <div class="container-full w-container">
        <h2 class="h2-heading">Our Super Fast Support Team</h2>
        <div class="team-box">
            <div class="w-row">
                <div class="w-col w-col-3 w-col-medium-6">
                    <div class="team-item"><img
                            src="5c167fe0dab576769577b7ba_img-5.png"
                            srcset="5c167fe0dab576769577b7ba_img-5-p-500.png 500w, 5c167fe0dab576769577b7ba_img-5.png 540w"
                            sizes="100vw" alt="" class="team-member-img" />
                        <div class="team-member-content">
                            <div class="team-member-name">Ben Griffin</div>
                            <div class="team-member-degi">Lorem ipsum</div>
                            <p class="team-member-text">I have used Ed Jacobson and his team as my business and
                                personal accountant for many years. I am extremely satisfied with their work,
                                timeliness, and attention to detail…</p>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-medium-6">
                    <div class="team-item"><img
                            src="5c167fe0dab5763b3777b7bd_img-6.png"
                            srcset="5c167fe0dab5763b3777b7bd_img-6-p-500.png 500w, 5c167fe0dab5763b3777b7bd_img-6.png 540w"
                            sizes="100vw" alt="" class="team-member-img" />
                        <div class="team-member-content">
                            <div class="team-member-name">Ben Griffin</div>
                            <div class="team-member-degi">Lorem ipsum</div>
                            <p class="team-member-text">I have used Ed Jacobson and his team as my business and
                                personal accountant for many years. I am extremely satisfied with their work,
                                timeliness, and attention to detail…</p>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-medium-6">
                    <div class="team-item"><img
                            src="5c167fe0dab576177377b7bc_img-7.png"
                            srcset="5c167fe0dab576177377b7bc_img-7-p-500.png 500w, 5c167fe0dab576177377b7bc_img-7.png 540w"
                            sizes="100vw" alt="" class="team-member-img" />
                        <div class="team-member-content">
                            <div class="team-member-name">Ben Griffin</div>
                            <div class="team-member-degi">Lorem ipsum</div>
                            <p class="team-member-text">I have used Ed Jacobson and his team as my business and
                                personal accountant for many years. I am extremely satisfied with their work,
                                timeliness, and attention to detail…</p>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-medium-6">
                    <div class="team-item"><img
                            src="5c167fe0dab57608c977b7bb_img-8.png"
                            srcset="5c167fe0dab57608c977b7bb_img-8-p-500.png 500w, 5c167fe0dab57608c977b7bb_img-8.png 540w"
                            sizes="100vw" alt="" class="team-member-img" />
                        <div class="team-member-content">
                            <div class="team-member-name">Ben Griffin</div>
                            <div class="team-member-degi">Lorem ipsum</div>
                            <p class="team-member-text">I have used Ed Jacobson and his team as my business and
                                personal accountant for many years. I am extremely satisfied with their work,
                                timeliness, and attention to detail…</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-strip">
    <div class="container-full w-container">
        <h2 class="h2-heading-2">Get on our side today!</h2>
        <div class="sub-text">Lorem ipsum dolor sit amet, cons ec tetur adipis cing elit, sed do eiusmod tempor
            incididunt ut labore et dolore.</div>
        <div class="button-bar"><a href="#" class="button-red w-button">Request Demo</a></div>
    </div>
</div>
<div class="footer-2">
    <div class="container-full w-container">
        <div class="footer-top"><img
                src="5c167fe0dab576557777b79b_logo-white.png"
                alt="" class="footer-logo" />
            <div class="socila-box"><a href="#" class="social-button icon-facebook w-button"></a><a href="#"
                    class="social-button icon-twitter w-button"></a><a href="#"
                    class="social-button icon-instagram w-button"></a></div>
        </div>
        <div class="footer-middle">
            <div class="w-row">
                <div class="w-col w-col-7 w-col-medium-6">
                    <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                </div>
                <div class="w-clearfix w-col w-col-5 w-col-medium-6">
                    <div class="footer-address">
                        <h4 class="h4-heading-white">Contact Details</h4>
                        <p class="footer-text-2 icon-address">PO BOX 7053 Hicksville, NY 11802</p>
                        <p class="footer-text-2 icon-phone">+1 646 568 5308</p>
                        <p class="footer-text-2 icon-email">newyork@aabusiness.org</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-link-box"><a href="#" class="footer-link">Legal</a><a href="#"
                    class="footer-link">Privacy Policy</a><a href="#" class="footer-link">Terms of Use</a><a
                    href="#" class="footer-link">Help Center</a></div>
            <div class="copyright">Copyright © 2016 All American Business Solutions Inc. All rights reserved.</div>
        </div>
    </div>
</div>
