<div class="secion-about-banner">
    <div class="container-full">
        <div class="top-bar w-clearfix"><a data-w-id="4cc5554e-0492-ec08-63c6-7eb854f48cfb" href="#"
                class="topbar-btn w-button">Client Access</a><a href="#"
                class="topbar-btn w-hidden-small w-hidden-tiny w-button">Online Bill Payment</a><a href="#"
                class="topbar-btn special w-hidden-small w-hidden-tiny w-button">Schedule Meeting</a><a
                href="tel:+16465685308" class="phone">646 568 5308</a></div>
    </div>
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
        <div class="container-full w-container"><a href="#" class="brand-logo w-nav-brand"></a>
            <nav role="navigation" class="nav-menu w-nav-menu"><a href="/" class="navlink w-nav-link">Home</a><a
                    href="/about_us" class="navlink w-nav-link w--current">About</a><a href="/services"
                    class="navlink w-nav-link">Services</a><a href="/contact"
                    class="navlink w-nav-link">Contact</a><a href="/contact"
                    class="button-red marign-top w-button">Get a Free Quote</a></nav>
            <div class="menu-button w-nav-button">
                <div class="menu-icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="banner-text-box w-container">
        <h1 class="hi-banner">About Us</h1>
        <div class="banner-sub-text">Let our experts lead your vision</div>
    </div>
</div>
<div class="section-vision">
    <div class="container-full w-container">
        <div class="w-row">
            <div class="w-col w-col-6 w-col-stack">
                <div class="content-box">
                    <h2 class="h2-heading-left">Our Vision</h2>
                    <p class="paragraph">Our vision is to empower businesses by providing tailored BPO solutions that enhance efficiency 
                    and drive growth. We aim to be a trusted partner, enabling clients to focus on their core competencies while we handle 
                    their operational needs. Our commitment to excellence and innovation shapes our approach to delivering exceptional service.</p>
                </div>
            </div>
            <div class="w-col w-col-6 w-col-stack">
                <div class="content-box">
                    <h2 class="h2-heading-left">Our Mission and Goals</h2>
                    <p class="paragraph">Our mission is to deliver high-quality BPO services that exceed client expectations. 
                    We are dedicated to continuous improvement and adapting to the evolving needs of businesses. Our goals 
                    include fostering strong relationships with our clients, enhancing operational effectiveness, and contributing 
                    positively to the industries we serve. Together, we strive for a future where businesses can thrive effortlessly. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-w-id="6ccc8540-e1b6-e17b-d5be-bd816183697f" style="opacity:0" class="office-img"></div>
<div class="section-stats">
    <div data-w-id="339a28ae-4328-f0f5-2ab0-ee076ec6e46b" style="opacity:0" class="container-full w-container">
        <div class="w-row">
            <div class="w-clearfix w-col w-col-4 w-col-stack">
                <div class="stats-item">
                    <div class="stats-info"><img
                            src="5c167fe0dab57656ff77b7b3_icon-9.svg"
                            alt="" class="stats-icon" />
                        <div class="stats-name">64 Kittens &amp; Doggies</div>
                    </div>
                    <p class="stats-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
            <div class="w-clearfix w-col w-col-4 w-col-stack">
                <div class="stats-item">
                    <div class="stats-info"><img
                            src="5c167fe0dab57656ff77b7b3_icon-9.svg"
                            alt="" class="stats-icon" />
                        <div class="stats-name">3 Billion Cupcakes</div>
                    </div>
                    <p class="stats-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
            <div class="w-clearfix w-col w-col-4 w-col-stack">
                <div class="stats-item">
                    <div class="stats-info"><img
                            src="5c167fe0dab57656ff77b7b3_icon-9.svg"
                            alt="" class="stats-icon" />
                        <div class="stats-name">2,000 Armed Soldiers</div>
                    </div>
                    <p class="stats-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo invent ore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-team w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny">
    <div class="container-full w-container">
        <h2 class="h2-heading">Our Super Fast Support Team</h2>
        <div class="team-box">
            <div class="w-row">
                <div class="w-col w-col-3 w-col-medium-6">
                    <div class="team-item"><img
                            src="5c167fe0dab576769577b7ba_img-5.png"
                            srcset="5c167fe0dab576769577b7ba_img-5-p-500.png 500w, 5c167fe0dab576769577b7ba_img-5.png 540w"
                            sizes="100vw" alt="" class="team-member-img" />
                        <div class="team-member-content">
                            <div class="team-member-name">Ben Griffin</div>
                            <div class="team-member-degi">Lorem ipsum</div>
                            <p class="team-member-text">I have used Ed Jacobson and his team as my business and
                                personal accountant for many years. I am extremely satisfied with their work,
                                timeliness, and attention to detail…</p>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-medium-6">
                    <div class="team-item"><img
                            src="5c167fe0dab5763b3777b7bd_img-6.png"
                            srcset="5c167fe0dab5763b3777b7bd_img-6-p-500.png 500w, 5c167fe0dab5763b3777b7bd_img-6.png 540w"
                            sizes="100vw" alt="" class="team-member-img" />
                        <div class="team-member-content">
                            <div class="team-member-name">Ben Griffin</div>
                            <div class="team-member-degi">Lorem ipsum</div>
                            <p class="team-member-text">I have used Ed Jacobson and his team as my business and
                                personal accountant for many years. I am extremely satisfied with their work,
                                timeliness, and attention to detail…</p>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-medium-6">
                    <div class="team-item"><img
                            src="5c167fe0dab576177377b7bc_img-7.png"
                            srcset="5c167fe0dab576177377b7bc_img-7-p-500.png 500w, 5c167fe0dab576177377b7bc_img-7.png 540w"
                            sizes="100vw" alt="" class="team-member-img" />
                        <div class="team-member-content">
                            <div class="team-member-name">Ben Griffin</div>
                            <div class="team-member-degi">Lorem ipsum</div>
                            <p class="team-member-text">I have used Ed Jacobson and his team as my business and
                                personal accountant for many years. I am extremely satisfied with their work,
                                timeliness, and attention to detail…</p>
                        </div>
                    </div>
                </div>
                <div class="w-col w-col-3 w-col-medium-6">
                    <div class="team-item"><img
                            src="5c167fe0dab57608c977b7bb_img-8.png"
                            srcset="5c167fe0dab57608c977b7bb_img-8-p-500.png 500w, 5c167fe0dab57608c977b7bb_img-8.png 540w"
                            sizes="100vw" alt="" class="team-member-img" />
                        <div class="team-member-content">
                            <div class="team-member-name">Ben Griffin</div>
                            <div class="team-member-degi">Lorem ipsum</div>
                            <p class="team-member-text">I have used Ed Jacobson and his team as my business and
                                personal accountant for many years. I am extremely satisfied with their work,
                                timeliness, and attention to detail…</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-strip">
    <div class="container-full w-container">
        <h2 class="h2-heading-2">Get on our side today!</h2>
        <div class="sub-text">Partner with us to streamline your operations and unlock your business's full potential.
        Experience the difference our dedicated BPO solutions can make in achieving your goals. Let's embark on this
        journey together!</div>
        <div class="button-bar"><a href="/contact" class="button-red w-button">Request Demo</a></div>
    </div>
</div>
<%= render 'shared/footer', footer_class: 'footer-2'%>
