<div class="secion-contact-banner">
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
        <div class="container-full w-container"><a href="#" class="brand-logo w-nav-brand"></a>
            <nav role="navigation" class="nav-menu w-nav-menu"><a href="/" class="navlink w-nav-link">Home</a><a
                    href="/about_us" class="navlink w-nav-link">About</a><a href="/services"
                    class="navlink w-nav-link">Services</a><a href="/contact"
                    class="navlink w-nav-link w--current">Contact</a><a href="/contact"
                    class="button-red marign-top w-button w--current">Get a Free Quote</a></nav>
            <div class="menu-button w-nav-button">
                <div class="menu-icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="banner-text-box w-container">
        <h1 class="hi-banner">Contact Us</h1>
        <div class="banner-sub-text">Don’t hesitate to reach out! We’re ready to jump high and work hard to provide the support you need.</div>
    </div>
</div>
<div class="contact-form-wrapper">
    <div class="contact-us-form-box w-clearfix">
        <div class="form-wrapper-2">
            <h3 class="h3-heading-4">Get In Touch</h3>
            <%= render 'shared/contact_form', textarea_class: 'textarea-2', input_class: 'input-2', button_class: 'button-red-2' %>
        </div>
    </div>
</div>
<div class="section-address-box">
    <div data-w-id="3b6b792d-0a87-3c23-c5d3-d1e2f93aeea1" style="opacity:0" class="container-full w-container">
        <h2 class="h2-heading">Customer satisfaction is our top priority,<br />Don’t hesitate to contact us</h2>
        <div class="address-row">
            <div class="w-row">
                <div class="w-col w-col-4 w-col-stack">
                    <div class="address-item"><img
                            src="5c167fe0dab576211577b7c1_icon-11.svg"
                            alt="" class="addresss-icon" />
                        <p class="address-small-text">Email us</p>
                        <h5 class="h5-heading">countnine.solutions@gmail.com</h5>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="address-item"><img
                            src="5c167fe0dab576408577b7c0_icon-12.svg"
                            alt="" class="addresss-icon" />
                        <p class="address-small-text">Visit our office</p>
                        <h5 class="h5-heading">176, Behind Advance Academy, Nipania, Indore, Madhya Pradesh 452010</h5>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="address-item"><img
                            src="5c167fe0dab576f14177b7c2_icon-13.svg"
                            alt="" class="addresss-icon" />
                        <p class="address-small-text">Find us on the web</p>
                        <h5 class="h5-heading">Countnine.com</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'shared/footer', footer_class: 'footer'%>
