<div data-w-id="55c879dc-a9f1-6107-51d3-ac68fc985102" style="display:none" class="modal-div">
    <h1 data-w-id="f0ee139b-7b55-690a-ba93-3c16e01ca6dc" class="heading">X</h1><a href="#"
        class="btn-modal bill w-button">Online Bill Pay<br /></a><a href="#"
        class="btn-modal securefile w-button">Secure File Portal</a><a href="#"
        class="btn-modal support w-button">Support Portal</a>
</div>
<div class="secion-home-banner">
    <div class="container-full">
        <div class="top-bar w-clearfix"><a data-w-id="4cc5554e-0492-ec08-63c6-7eb854f48cfb" href="#"
                class="topbar-btn w-button">Client Access</a><a href="#"
                class="topbar-btn w-hidden-small w-hidden-tiny w-button">Online Bill Payment</a><a href="#"
                class="topbar-btn special w-hidden-small w-hidden-tiny w-button">Schedule Meeting</a><a
                href="tel:+16465685308" class="phone">646 568 5308</a></div>
    </div>
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
        <div class="container-full w-container"><a href="#" class="brand-logo w-nav-brand"></a>
            <nav role="navigation" class="nav-menu w-nav-menu"><a href="/"
                    class="navlink w-nav-link w--current">Home</a><a href="/about_us"
                    class="navlink w-nav-link">About</a><a href="/services"
                    class="navlink w-nav-link">Services</a><a href="/contact"
                    class="navlink w-nav-link">Contact</a><a href="/contact"
                    class="button-red marign-top w-button">Get a Free Quote</a></nav>
            <div class="menu-button w-nav-button">
                <div class="menu-icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="banner-text-box w-container">
        <h1 class="hi-banner">Professional Business Solutions</h1>
        <div class="banner-sub-text">Let our consultants relieve your business pains from IT to branding</div>
        <div class="button-bar"><a href="#" class="button-white-border margin-left-right w-button">Services</a><a
                href="#" class="button-red margin-left-right w-button">Free Quote</a></div>
    </div>
</div>
<div class="section-services">
    <div data-w-id="bd14dce3-eb1f-dcf5-2b64-9981b8a69f15" style="opacity:0" class="container-full w-container">
        <h2 class="h2-heading">AABS Services</h2>
        <div class="service-box">
            <div class="columns-3 w-row">
                <div class="w-col w-col-4 w-col-stack">
                    <div class="service-item"><img
                            src="5c167fe0dab576c20c77b7a4_illustration-small-1.png"
                            alt="" class="service-icon" />
                        <h3 class="h3-heading">IT Consulting</h3>
                        <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                            varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="service-item"><img
                            src="5c167fe0dab5761e6a77b7a2_illustration-small-2.png"
                            alt="" class="service-icon" />
                        <h3 class="h3-heading">Web Design and Development</h3>
                        <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                            varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="service-item"><img
                            src="5c167fe0dab576e0b877b7a3_illustration-small-3.png"
                            alt="" class="service-icon" />
                        <h3 class="h3-heading">Brand Development</h3>
                        <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                            varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-bar"><a href="#" class="button-red-border w-button">View Services</a></div>
</div>
<div data-w-id="93402654-2e03-09fc-7026-575b5b476d29" style="opacity:0" class="section-review">
    <div class="container-full w-container">
        <h2 class="h2-heading">Professional Client Reviews</h2>
    </div>
    <div class="container-full-2 margin-top w-container"></div>
    <div class="review-row w-clearfix">
        <div class="review-item">
            <div class="review-img-name"><img
                    src="5c167fe0dab5765e9477b7a5_photo-1.png"
                    alt="" class="review-client-img" />
                <div class="client-name">Susan Schehr</div>
            </div>
            <p class="review-text">I have been a business and personal client of Alex for 612 years. My favorite
                part of the business is when they deliver fresh cupcakes to my establishment. Totally recommend.</p>
            <div class="star-time-box">
                <div class="stars-box"><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /></div>
                <div class="time-box"><img
                        src="5c167fe0dab5760d5a77b7a7_icon-3.svg"
                        alt="" />
                    <div class="time-text">4 months ago</div>
                </div>
            </div>
        </div>
        <div class="review-item">
            <div class="review-img-name"><img
                    src="5c167fe0dab5765e9477b7a5_photo-1.png"
                    alt="" class="review-client-img" />
                <div class="client-name">Barry Fried</div>
            </div>
            <p class="review-text">I have been a business and personal client of Alex for 612 years. My favorite
                part of the business is when they deliver fresh cupcakes to my establishment. Totally recommend.</p>
            <div class="star-time-box">
                <div class="stars-box"><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /></div>
                <div class="time-box"><img
                        src="5c167fe0dab5760d5a77b7a7_icon-3.svg"
                        alt="" />
                    <div class="time-text">4 months ago</div>
                </div>
            </div>
        </div>
        <div class="review-item">
            <div class="review-img-name"><img
                    src="5c167fe0dab5765e9477b7a5_photo-1.png"
                    alt="" class="review-client-img" />
                <div class="client-name">Ben Griffin</div>
            </div>
            <p class="review-text">I have been a business and personal client of Alex for 612 years. My favorite
                part of the business is when they deliver fresh cupcakes to my establishment. Totally recommend.</p>
            <div class="star-time-box">
                <div class="stars-box"><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /></div>
                <div class="time-box"><img
                        src="5c167fe0dab5760d5a77b7a7_icon-3.svg"
                        alt="" />
                    <div class="time-text">4 months ago</div>
                </div>
            </div>
        </div>
        <div class="review-item">
            <div class="review-img-name"><img
                    src="5c167fe0dab5765e9477b7a5_photo-1.png"
                    alt="" class="review-client-img" />
                <div class="client-name">Robin Wexler</div>
            </div>
            <p class="review-text">I have been a business and personal client of Alex for 612 years. My favorite
                part of the business is when they deliver fresh cupcakes to my establishment. Totally recommend.</p>
            <div class="star-time-box">
                <div class="stars-box"><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /><img
                        src="5c167fe0dab576839b77b7a6_icon-2.svg"
                        alt="" class="star" /></div>
                <div class="time-box"><img
                        src="5c167fe0dab5760d5a77b7a7_icon-3.svg"
                        alt="" />
                    <div class="time-text">4 months ago</div>
                </div>
            </div>
        </div>
    </div>
    <div class="button-bar"><a href="#" class="button-red-border w-button">View More Reviews</a></div>
</div>
<div class="section-whychoose">
    <div class="container-full w-container">
        <div data-w-id="854ddd0e-2728-ffed-0fa9-29cd25191491" style="opacity:0" class="whychoose-leftbox">
            <h2 class="h2-heading-left">Why Businesses Choose Us</h2>
            <div class="whychoose-content-box">
                <div class="whychoose-item">
                    <h3 class="h3-heading-2">76 Day Guarantee</h3>
                    <p class="whychosse-text">We offer a 14-day guarantee on all services, to ensure we’re the right
                        fit for each other. We recommend you take advantage of our free consultation before even
                        making your decision to work with us. <a href="#" class="read-more-link">Read more</a></p>
                </div>
                <div class="whychoose-item">
                    <h3 class="h3-heading-2">Loads of Super Knowledge</h3>
                    <p class="whychosse-text">Our experts know all about running a successful business and what is
                        needed . We have over 45 years of combined experience. Contact us to learn more about how we
                        can help your venture grow! <a href="#" class="read-more-link">Read more</a></p>
                </div>
                <div class="whychoose-item">
                    <h3 class="h3-heading-2">We&#x27;re Everywhere! Even while you sleep!</h3>
                    <p class="whychosse-text">All American Business Solutions is the best choice for business
                        consulting in the United States as well as world wide. Whether it’s NYC or Alaska, we bring
                        our service straight to your office or IT department. <a href="#"
                            class="read-more-link">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-form">
    <div class="container-full w-container">
        <div class="columns-2 w-row">
            <div class="w-col w-col-6 w-col-stack">
                <div class="form-text-box">
                    <h2 class="h2-heading-left">Are you an entrepreneur looking to grow businesses and build wealth?
                    </h2>
                    <p class="form-text-medium">Lorem ipsum dolor sit amet, cons ec tetur adipis cing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore.</p>
                    <div class="usp-box">
                        <div class="usp-item usp-icon-1">
                            <h4 class="h4-heading">Increase your top-line by 34%</h4>
                            <p class="whychosse-text">Lorem ipsum dolor sit amet, cons ec tetur.</p>
                        </div>
                        <div class="usp-item usp-icon-2">
                            <h4 class="h4-heading">Attract 83 new customers tomorrow</h4>
                            <p class="whychosse-text">Sed do eiusmo dtempor incididunt ut labore et dolore.</p>
                        </div>
                        <div class="usp-item usp-icon-3">
                            <h4 class="h4-heading">Land on Pluto</h4>
                            <p class="whychosse-text">Adipis cing elit, sed do eiusmo dtempor.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-clearfix w-col w-col-6 w-col-stack">
                <div data-w-id="7b35edd1-a8e9-69f7-f5c4-053399c548cb" style="opacity:0" class="form-wrapper">
                    <h3 class="h3-heading-4">Request a Call or Visit</h3>
                    <div class="form-box">
                        <div class="w-form">
                            <form id="email-form" name="email-form" data-name="Email Form"><input type="text"
                                    class="input w-input" maxlength="256" name="name" data-name="Name"
                                    placeholder="Name" id="name" /><input type="email" class="input w-input"
                                    maxlength="256" name="email" data-name="Email" placeholder="Email" id="email"
                                    required="" /><input type="tel" class="input w-input" maxlength="256"
                                    name="phone" data-name="phone" placeholder="Phone" id="phone"
                                    required="" /><input type="text" class="input w-input" maxlength="256"
                                    name="General-Inquiry" data-name="General Inquiry" placeholder="General Inquiry"
                                    id="General-Inquiry" /><textarea id="Message" name="Message"
                                    placeholder="Message" maxlength="5000" data-name="Message"
                                    class="textarea w-input"></textarea><input type="submit" value="Submit"
                                    data-wait="Please wait..." class="button-red button-full w-button" /></form>
                            <div class="w-form-done">
                                <div>Thank you! Your submission has been received!</div>
                            </div>
                            <div class="w-form-fail">
                                <div>Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><img src="5c167fe0dab576730d77b7ab_img-2.png"
        data-w-id="737c2c27-051b-1d80-86e8-461dae552ae7" style="opacity:0" alt="" class="arrow-img" />
</div>
<div class="footer">
    <div class="container-full w-container">
        <div class="footer-top"><img
                src="5c167fe0dab576557777b79b_logo-white.png"
                alt="" class="footer-logo" />
            <div class="socila-box"><a href="#" class="social-button icon-facebook w-button"></a><a href="#"
                    class="social-button icon-twitter w-button"></a><a href="#"
                    class="social-button icon-instagram w-button"></a></div>
        </div>
        <div class="footer-middle">
            <div class="columns w-row">
                <div class="w-col w-col-7 w-col-medium-6">
                    <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                </div>
                <div class="w-clearfix w-col w-col-5 w-col-medium-6">
                    <div class="footer-address">
                        <h4 class="h4-heading-white">Contact Details</h4>
                        <p class="footer-text-2 icon-address">PO BOX 7053 Hicksville, NY 11802</p>
                        <p class="footer-text-2 icon-phone">+1 646 568 5308</p>
                        <p class="footer-text-2 icon-email">newyork@aabusiness.org</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-link-box"><a href="#" class="footer-link">Legal</a><a href="#"
                    class="footer-link">Privacy Policy</a><a href="#" class="footer-link">Terms</a><a href="#"
                    class="footer-link">Ticket System</a></div>
            <div class="copyright">Copyright © 2019 All American Business Solutions Inc. All rights reserved.</div>
        </div>
    </div>
</div>
