<div class="secion-services-banner">
    <div class="container-full">
        <div class="top-bar w-clearfix"><a data-w-id="4cc5554e-0492-ec08-63c6-7eb854f48cfb" href="#"
                class="topbar-btn w-button">Client Access</a><a href="#"
                class="topbar-btn w-hidden-small w-hidden-tiny w-button">Online Bill Payment</a><a href="#"
                class="topbar-btn special w-hidden-small w-hidden-tiny w-button">Schedule Meeting</a><a
                href="tel:+16465685308" class="phone">646 568 5308</a></div>
    </div>
    <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
        <div class="container-full w-container"><a href="#" class="brand-logo w-nav-brand"></a>
            <nav role="navigation" class="nav-menu w-nav-menu"><a href="/" class="navlink w-nav-link">Home</a><a
                    href="/about" class="navlink w-nav-link">About</a><a href="/services"
                    class="navlink w-nav-link w--current">Services</a><a href="/contact"
                    class="navlink w-nav-link">Contact</a><a href="/contact"
                    class="button-red marign-top w-button">Get a Free Quote</a></nav>
            <div class="menu-button w-nav-button">
                <div class="menu-icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="banner-text-box w-container">
        <h1 class="hi-banner">Our Services</h1>
        <div class="banner-sub-text">Let our experts relieve your business pains</div>
    </div>
</div>
<div class="section-services-box">
    <div class="container-full w-container">
        <div class="w-row">
            <div class="w-col w-col-6"><img
                    src="5c167fe0dab576acb777b7c7_illustration-big-1.png"
                    srcset="5c167fe0dab576acb777b7c7_illustration-big-1-p-800.png 800w, 5c167fe0dab576acb777b7c7_illustration-big-1-p-1080.png 1080w, 5c167fe0dab576acb777b7c7_illustration-big-1.png 1110w"
                    sizes="(max-width: 479px) 84vw, (max-width: 767px) 88vw, (max-width: 991px) 45vw, 47vw"
                    data-w-id="4663ce78-3a54-5a87-708f-e828b3e2126f" style="opacity:0" alt="" /></div>
            <div class="w-clearfix w-col w-col-6">
                <div class="services-content-right">
                    <h2 class="h2-heading-left">IT Consulting</h2>
                    <p class="paragraph-2">Lorem ipsum dolor sit amet, cons ec tetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven iam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><a href="#"
                        class="button-red-2 margin-top w-button">Button Text</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-services-box">
    <div class="container-full w-container">
        <div class="w-row">
            <div class="w-clearfix w-col w-col-6">
                <div class="services-content-left">
                    <h2 class="h2-heading-left">Web Design and Development</h2>
                    <p class="paragraph-2">Lorem ipsum dolor sit amet, cons ec tetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven iam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><a href="#"
                        class="button-red-2 margin-top w-button">Button Text</a>
                </div>
            </div>
            <div class="w-col w-col-6"><img
                    src="5c167fe0dab576591e77b7c5_illustration-big-2.png"
                    srcset="5c167fe0dab576591e77b7c5_illustration-big-2-p-500.png 500w, 5c167fe0dab576591e77b7c5_illustration-big-2-p-800.png 800w, 5c167fe0dab576591e77b7c5_illustration-big-2.png 966w"
                    sizes="(max-width: 479px) 84vw, (max-width: 767px) 88vw, (max-width: 991px) 45vw, 47vw"
                    data-w-id="6f3c0c27-2ead-ec14-a456-c4dff51e8ec5" style="opacity:0" alt="" /></div>
        </div>
    </div>
</div>
<div class="section-services-box">
    <div class="container-full w-container">
        <div class="w-row">
            <div class="w-col w-col-6"><img
                    src="5c167fe0dab5763bf977b7c6_illustration-big-3.png"
                    srcset="5c167fe0dab5763bf977b7c6_illustration-big-3-p-500.png 500w, 5c167fe0dab5763bf977b7c6_illustration-big-3-p-800.png 800w, 5c167fe0dab5763bf977b7c6_illustration-big-3.png 966w"
                    sizes="(max-width: 479px) 84vw, (max-width: 767px) 88vw, (max-width: 991px) 45vw, 47vw"
                    data-w-id="1ff6598b-32a0-8f81-8cfd-d129723b3d0a" style="opacity:0" alt="" /></div>
            <div class="w-clearfix w-col w-col-6">
                <div class="services-content-right">
                    <h2 class="h2-heading-left">Brand Development</h2>
                    <p class="paragraph-2">Lorem ipsum dolor sit amet, cons ec tetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven iam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><a href="#"
                        class="button-red-2 margin-top w-button">Button Text</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-testimonial">
    <div data-w-id="feaba519-b98f-947e-b2e9-c50ab6838ffd" style="opacity:0" class="container-full w-container">
        <div class="testimonial-heading-box">
            <h2 class="h2-heading">See what our experts says about us. We have got over 1000s of positive reviews.
            </h2>
            <p class="paragraph-2">Lorem ipsum dolor sit amet, cons ec tetur adipis cing elit, sed do eiusmod tempor
                incididunt ut labore et dolore.</p>
        </div>
        <div class="testimonial-wrapper">
            <div class="w-row">
                <div class="w-col w-col-4 w-col-stack">
                    <div class="testimonial-item"><img
                            src="5c167fe0dab576040877b7c3_icon-14.svg"
                            alt="" class="quote-icon" />
                        <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                            ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                            nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique
                            posuere.</p>
                        <div class="team-member-name">Ben Griffin</div>
                        <div class="team-member-degi">Lorem ipsum</div>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="testimonial-item"><img
                            src="5c167fe0dab576040877b7c3_icon-14.svg"
                            alt="" class="quote-icon" />
                        <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                            ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                            nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique
                            posuere.</p>
                        <div class="team-member-name">Ben Griffin</div>
                        <div class="team-member-degi">Lorem ipsum</div>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-stack">
                    <div class="testimonial-item"><img
                            src="5c167fe0dab576040877b7c3_icon-14.svg"
                            alt="" class="quote-icon" />
                        <p class="testimonial-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra
                            ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus
                            nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique
                            posuere.</p>
                        <div class="team-member-name">Ben Griffin</div>
                        <div class="team-member-degi">Lorem ipsum</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-strip">
    <div class="container-full w-container">
        <h2 class="h2-heading-2">Sed ut perspiciatis unde omnis iste</h2>
        <div class="sub-text">Lorem ipsum dolor sit amet, cons ec tetur adipis cing elit, sed do eiusmod tempor
            incididunt ut labore et dolore.</div>
        <div class="button-bar"><a href="#" class="button-red-2 w-button">Request Demo</a></div>
    </div>
</div>
<div class="footer-2">
    <div class="container-full w-container">
        <div class="footer-top"><img
                src="5c167fe0dab576557777b79b_logo-white.png"
                alt="" class="footer-logo" />
            <div class="socila-box"><a href="#" class="social-button icon-facebook w-button"></a><a href="#"
                    class="social-button icon-twitter w-button"></a><a href="#"
                    class="social-button icon-instagram w-button"></a></div>
        </div>
        <div class="footer-middle">
            <div class="w-row">
                <div class="w-col w-col-7 w-col-medium-6">
                    <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                </div>
                <div class="w-clearfix w-col w-col-5 w-col-medium-6">
                    <div class="footer-address">
                        <h4 class="h4-heading-white">Contact Details</h4>
                        <p class="footer-text-2 icon-address">PO BOX 7053 Hicksville, NY 11802</p>
                        <p class="footer-text-2 icon-phone">+1 646 568 5308</p>
                        <p class="footer-text-2 icon-email">newyork@aabusiness.org</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-link-box"><a href="#" class="footer-link">Legal</a><a href="#"
                    class="footer-link">Privacy Policy</a><a href="#" class="footer-link">Terms of Use</a><a
                    href="#" class="footer-link">Help Center</a></div>
            <div class="copyright">Copyright © 2016 All American Business Solutions Inc. All rights reserved.</div>
        </div>
    </div>
</div>